{{ define "content" }}
<h1>new device</h1>

<canvas id="qrcode"></canvas>
{{ end }}

{{ define "js" }}
<script src="/static/admin.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<script>
  let socket;

  document.addEventListener("DOMContentLoaded", () => {
    socket = new WebSocket("ws://localhost:8080/connect");

    socket.onopen = () => {
      console.log("connection opened");
    };

    socket.onclose = () => {
      console.log("connection closed");
    };

    socket.onerror = (error) => {
      console.log("connection error ", error);
    };

    socket.onmessage = (message) => {
      console.log("message received ", message);
      new QRious({
        element: document.getElementById("qrcode"),
        size: 300,
        value: message.data,
      })
    };
  });
</script>
{{ end }}
