<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | WhatsApp RememberMe</title>
  </head>
  <body>
    <p>{{.Flash}}</p>
    <form action="/" method="post">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      <h3 class="text-center sign-in-title">Login</h3>

      <label for="username">Username</label>
      <input id="username" required autocomplete="off" type='text' name='username' value=''>

      <label for="password">Password</label>
      <input id="password" required autocomplete="off" type='password' name='password'>
      <button type="submit" class="btn btn-primary ">Login</button>
    </form>
  </body>
</html>
